# Virtual environment
.venv/
env/
venv/

# Environment variables
.env

# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Simulation output & logs
*.log
sim_log.csv
tripinfo.xml
output.xml

# IDE & OS
.vscode/
.idea/
.DS_Store
Thumbs.db
